/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

/* Setting root (public) variables */
:root {
    /* Colors */
    --clr-blue: hsl(223 87% 63%);
    --clr-pale-blue: hsl(223 100% 83%);
    --clr-light-red: hsl(354 100% 66%);
    --clr-gray: hsl(0 0% 59%);
    --clr-very-dark-blue: hsl(209 33% 12%);

    /* Fonts */
    --fs-common: 1.25rem;
    --fw-light: 300;
    --fw-semi-bold: 600;
    --fw-bold: 700;
}

/* Website styling */

body {
    font-family: 'Libre Franklin', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ping__logo {
    max-width: 65px;
    margin-top: 5rem;
}

h1 {
    font-size: 1.6rem;
    margin-top: 2.5rem;
    font-weight: var(--fw-light);
    color: var(--clr-gray);
}

h1 span {
    font-weight: var(--fw-bold);
    color: var(--clr-very-dark-blue);
}

.ping__text {
    color: var(--clr-very-dark-blue);
    margin-top: .75rem;
}

.flex-group {
    display: flex;
}

.ping__form {
    margin-top: 1.5rem;
    flex-direction: column;
    gap: .65rem;
}

.ping__input {
    border: 1px solid var(--clr-pale-blue);
    border-radius: 2rem;
    outline: 0;
    padding: .6rem 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.ping__input::placeholder {
    color: var(--clr-pale-blue);
}

.ping__submit {
    background-color: var(--clr-blue);
    color: #fff;
    font-weight: var(--fw-semi-bold);
    border: 0;
    border-radius: 2rem;
    padding: .6rem 0;
    /* TODO Create a shadow */
}

.ping__dashboard {
    height: auto;
    margin-top: 4rem;
}

footer {
    margin-bottom: 2rem;
}

.ping__social {
    gap: 1rem;
    margin-bottom: 1.5rem;
    justify-content: center;
}

.ping__social img {
    width: 32px;
}

.ping__copyright {
    color: var(--clr-gray);
    font-size: .813em
}

/* Media Queries */

@media (min-width: 650px) {
    .ping__logo {
        max-width: 100000px;
    }

    h1 {
        font-size: 2.2rem;
        margin-top: 2rem;
    }

    .ping__text {
        font-size: 1.063rem;
        margin: .5rem;
    }

    .ping__form {
        flex-direction: row;
        gap: 1rem;
    }

    .ping__input {
        width: 50vw;
        max-width: 450px;
    }

    .ping__submit {
        width: 20vw;
        max-width: 200px;
    }

    .ping__dashboard {
        max-width: 650px;
    }
}